# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.env/

# Ignore distribution packages
dist/
build/
*.egg-info/

# Ignore local configuration files
*.log
*.sqlite3

# Ignore version control files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile
